<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h4>Socials</h4>
                <div class="clearfix">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 social-ico" title="Facebook">
                        <img src="img/facebook_ico.png" />
                        <a target="_blank" href="https://www.facebook.com/Rin90"></a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 social-ico" title="Google Plus">
                        <img src="img/google_plus_ico.png" />
                        <a target="_blank" href="https://plus.google.com/u/0/+AndreaRinaldi/"></a>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 social-ico" title="LinkedIn">
                        <img src="img/linkedin_ico.png" />
                        <a target="_blank" href="https://www.linkedin.com/profile/view?id=291909386&trk=spm_pic"></a>
                    </div>
                </div>
            </div><!-- /col-lg-8 -->

            <div class="col-lg-4 col-md-4 col-sm-4">
                <h4>Where to find me</h4>
                <p>
                    Strada Provinciale Bionda 1000,<br/>
                    47822, Santarcangelo di Romagna <br/>
                    Rimini, Italy.
                </p>
            </div><!-- /col-lg-4 -->
        </div>
    </div>
</div>