<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <a class="facebook" title="facebook" href="https://www.facebook.com/Rin90"></a>
                <a class="plus" title="plus" href="https://plus.google.com/u/0/+AndreaRinaldi/"></a>
                <a class="linkedin" title="linkedin" href="https://www.linkedin.com/profile/view?id=291909386&trk=spm_pic"></a>
            </div><!-- /col-lg-8 -->

            <div class="col-lg-4">
                <h4>Where to find me</h4>
                <p>
                    Strada Provinciale Bionda 1000,<br/>
                    47822, Santarcangelo di Romagna <br/>
                    Rimini, Italy.
                </p>
            </div><!-- /col-lg-4 -->
        </div>
    </div>
</div>